
.loading-circle{
    position: absolute;
    height: 100vh;
    width: 100%;
	margin: 0;
	padding: 0;
	display: none;
	justify-content: center;
	align-items: center;
    opacity: 0.6;
    background-color: #ffffff;
    z-index: 9999;
}

/*CSS FOR NEW LOGIN PAGE*/
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}

#std_scan_bg{
    border-radius: 15px;
}
#text-slogan{
    font-style: italic;
}
.bottom-socials a{
    text-decoration: none;
}

.bottom-socials i{
    font-size: 24px;
}

.socials i{
    font-size: 24px;
}

.socials a{
    text-decoration: none;
    margin: 4px;
}
.error-text{
    color: red;
    font-size: 11px;
    font-style: italic;
}

/*CSS for reset page specifically*/
.box-form{
    position: relative;
    width: 90%;
    left: 5%;
    padding: 8px;
}

@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

@media screen and (min-width: 450px) {
    .box-form {
    width: 50%;
  }

  .feedback-img{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .body-pic-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}