body{
    margin: 0;
    padding: 0;
}

.container_profile_head{
    border:1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.user_main_avatar{
    /*border: 1px solid blue;*/
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

#user_main_avatar_img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user_name_address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.user_bio{
    border:1px solid yellow;
    padding: 8px;
}

#see-more{
    display: none;
    color: blue;
}

#see-less{
    display: none;
    color: blue;
}

.subscriber_sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.fullPageDisplay{
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: black;
}

.close-full-screen{
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
}