@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0
}

.card {
   /* height: 430px;*/
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    position: relative
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999
}

.overlay .fa-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff
}

.overlay img {
    object-fit: cover;
    transition: all 2s;
    height: 100%;
    width: 100%
}

.d-none {
    display: none
}

.top-div {
    position: relative;
    padding: 20px;
    font-size: 17px;
    color: #fff;
    z-index: 1
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 180px;
    width: 100%
}

.image span {
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ccc;
    border: 3px solid #fff;
    z-index: 100
}

.image span img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover
}

.image h3 {
    margin-top: 5px;
    font-weight: 900;
    font-size: 18px;
    z-index: 100;
    color: #fff
}

.image h4 {
    margin-top: -3px;
    font-size: 13px;
    z-index: 100;
    color: #fff
}

.arc {
    display: flex;
    position: relative
}

.arc span {
    height: 600px;
    width: 600px;
    background-image: linear-gradient(to bottom, #B8550F, #626262);
    border-radius: 50%;
    position: absolute;
    right: -135px;
    top: -590px
}

.about {
    padding: 10px 20px
}

.about p:nth-child(1) {
    font-weight: 600
}

.about p:nth-child(2) {
    font-size: 13px;
    padding-right: 90px
}

.button {
    padding-left: 20px;
    display: flex;
    position: relative;
    padding-top: 35px;
    justify-content: center;
    align-items: center;
}

.button button:nth-child(1) {
    height: 30px;
    width: 90px;
    margin-right: 10px;
    color: #fff;
    background-color: green;
    font-size: 12px;
    border-radius: 30px;
    border: none;
    transition: all 0.5s;
    cursor: pointer
}

.button button:nth-child(2) {
    height: 30px;
    width: 90px;
    margin-right: 10px;
    color: #4D38F6;
    border-radius: 30px;
    border: 2px solid green;
    font-size: 12px;
    background-color: #fff;
    transition: all 0.5s
}

.button button:nth-child(3) {
    height: 30px;
    width: 90px;
    margin-right: 10px;
    color: #4D38F6;
    border-radius: 30px;
    border: 2px solid green;
    font-size: 12px;
    background-color: #fff;
    transition: all 0.5s
}

.button button:nth-child(4) {
    height: 30px;
    width: 90px;
    margin-right: 10px;
    color: #4D38F6;
    border-radius: 30px;
    border: 2px solid green;
    font-size: 12px;
    background-color: #fff;
    transition: all 0.5s
}

.button button:nth-child(1):hover {
    background-image: linear-gradient(to right, #B8550F, #626262)
}

.button button:nth-child(2):hover {
    background-color: #ccc;
    color: #000;
    font-weight: 700
}

.button button:nth-child(3):hover {
    background-color: #ccc;
    color: #000;
    font-weight: 700
}

.profile-info {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center
}

.profile-info .user-stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-menu{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:#f1f1f1;
    padding: 4px;
    z-index: 9999;
}

.bottom-menu li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*CSS Bottom navigation*/
.app-navigation-container {
    background-color: white;
    position: fixed;
    bottom: 60px;
    left: 10%;
    width: 80%;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    height: 0;
}

.app-navigation-container.open {
    height: auto;
}

.app-navigation-container-header {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(245, 245, 245);
    padding: 5px 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.app-navigation-container-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.app-navigation-container-icon {
    width: 20%;
    text-align: center;
    font-size: 50px;
    padding: 25px 0;
}

.app-navigation-container-icon a {
    color: rgb(60, 60, 60);
}

.app-navigation-toggle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    line-height: 40px;
    color: rgb(230, 230, 230);
    position: fixed;
    top: calc(100% - 50px);
    left: calc(50% - 20px);
    cursor: pointer;
    transition: all 200ms;
}

.app-navigation-toggle:hover {
    background-color: rgb(200, 200, 200);
}

.app-navigation-toggle.active {
    background-color: rgb(200, 200, 200);
}

@media screen and (max-width:992px) {
    .app-navigation-container-icon {
        width: 25%;
    }
}

@media screen and (max-width:768px) {
    .app-navigation-container-icon {
        width: 50%;
    }
}
/*END Bottom navigation*/