@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0
}

.card {
   /* height: 430px;*/
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    position: relative
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999
}

.overlay .fa-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff
}

.overlay img {
    object-fit: cover;
    transition: all 2s;
    height: 100%;
    width: 100%
}

.d-none {
    display: none
}

.top-div {
    position: relative;
    padding: 20px;
    font-size: 17px;
    color: #fff;
    z-index: 1
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 180px;
    width: 100%
}

.image span {
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ccc;
    border: 3px solid #fff;
    z-index: 100
}

.image span img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover
}

.image h3 {
    margin-top: 5px;
    font-weight: 900;
    font-size: 18px;
    z-index: 100;
    color: #fff
}

.image h4 {
    margin-top: -3px;
    font-size: 13px;
    z-index: 100;
    color: #fff
}

.arc {
    display: flex;
    position: relative
}

.arc span {
    height: 600px;
    width: 600px;
    background-image: linear-gradient(to bottom, #B8550F, #626262);
    border-radius: 50%;
    position: absolute;
    right: -135px;
    top: -590px
}

.about {
    padding: 10px 20px
}

.about p:nth-child(1) {
    font-weight: 600
}

.about p:nth-child(2) {
    font-size: 13px;
    padding-right: 90px
}

.button {
    padding-left: 20px;
    display: flex;
    position: relative;
    padding-top: 35px;
    justify-content: center;
    align-items: center;
}

.button button:nth-child(1) {
    height: 30px;
    width: 90px;
    margin-right: 10px;
    color: #fff;
    background-color: green;
    font-size: 12px;
    border-radius: 30px;
    border: none;
    transition: all 0.5s;
    cursor: pointer
}

.button button:nth-child(2) {
    height: 30px;
    width: 90px;
    margin-right: 10px;
    color: #4D38F6;
    border-radius: 30px;
    border: 2px solid green;
    font-size: 12px;
    background-color: #fff;
    transition: all 0.5s
}

.button button:nth-child(3) {
    height: 30px;
    width: 90px;
    margin-right: 10px;
    color: #4D38F6;
    border-radius: 30px;
    border: 2px solid green;
    font-size: 12px;
    background-color: #fff;
    transition: all 0.5s
}

.button button:nth-child(4) {
    height: 30px;
    width: 90px;
    margin-right: 10px;
    color: #4D38F6;
    border-radius: 30px;
    border: 2px solid green;
    font-size: 12px;
    background-color: #fff;
    transition: all 0.5s
}

.button button:nth-child(1):hover {
    background-image: linear-gradient(to right, #B8550F, #626262)
}

.button button:nth-child(2):hover {
    background-color: #ccc;
    color: #000;
    font-weight: 700
}

.button button:nth-child(3):hover {
    background-color: #ccc;
    color: #000;
    font-weight: 700
}

.profile-info {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center
}

.profile-info .user-stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-menu{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:#f1f1f1;
    padding: 4px;
    z-index: 9999;
}

.bottom-menu li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*CSS settings options*/
.wrapper-settings-options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 25px;
}

.wrapper-settings-options .unit-option{
    width: 40%;
}

.unit-option{
    border: 1px solid red;
    border-radius: 5px;
    margin: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*NEW CSS FOR EVENT DISPLAY*/
.post{
    width: 100%;
    height: auto;
    background: #fff;
    border: 1px solid #dfdfdf;
    margin-top: 40px;
}

.info{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.post-image{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.btns-container-prof{
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: 100%;
    justify-content: center; 
    align-items: center;   
}

.btns-container-prof a{
    width: 60%;
}
.main-action-btn-profile{
    border: none;
    border-radius: 15px;
    padding: 8px;
    width: 100%;
    background-color:rgb(0, 162, 255);
    color: white;
    cursor: pointer;
}



/*CSS pop-up modal*/
/*Modal modify event*/
.configuration-modal{
    position: absolute;
    top: 0;
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;
    z-index: 999;
}

.configuration-modal .configuration-modal-content{
    width: 100%;
    height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 70px;
}

.configuration-modal .configuration-modal-btns{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 8px;
}

.configuration-modal-btns button{
    margin: 4px;
    padding: 8px 16px;
    border: none;
    border-radius: 15px;
    background-color:rgb(0, 162, 255);
    color: white;
}

.wrapper-search-event-to-edit{
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.wrapper-search-event-to-edit .pair-input-edit{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pair-input-edit input{
    width: 80%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid white;
}

.pair-input-edit button{
    display: none;
    width: 20%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color:rgb(0, 162, 255);
    color: white;
}

.box-suggestion-events{
    display: none;
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.box-suggestion-events span{
    margin: 4px;
    border-bottom: 1px solid white;
}

.illustration-modify-event{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.illustration-modify-event .img-and-legend{
    width: 50%;
    border-radius: 50%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

/*Css for editing result box*/
.illustration-editing-result{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.illustration-editing-result img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.illustration-editing-result .editing-infos{
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.wrapper-fields-to-edit, #btn-save-changes{
    display: none;
}

.simple-input-unit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    margin: 4px;
}

.simple-input-unit input{
    width: 98%;
    padding: 8px;
    border-radius: 10px;
    border: none;
}

.simple-text-area-unit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    margin: 4px;
}

.simple-text-area-unit textarea{
    width: 98%;
    border-radius: 10px;
    padding: 8px;
    border: none;
}

.container-posters-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-up-new-posters{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 4px;
}

.btn-up-new-posters button{
    padding: 8px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color:rgb(0, 162, 255);
    color: white;
}

.container-posters{
    display: flex;
    flex-direction: column;
    border: 2px solid #aaa9a9;
    width: 98%;
    border-radius: 10px;
}

.ancient-posters, .new-posters{
    border-bottom: 2px solid #dad5d5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px;
}

.ancient-posters{
    justify-content: space-around;
    align-items: center;
}

.new-posters{
    justify-content: center;
    align-items: center;
}

.ancient-posters .unit-ancient-poster, .new-posters .unit-new-poster{
    display: flex;
    flex-direction: column;
    background-color: #fff7f7;
    border-radius: 10px;
    margin: 4px;
    width: 35%;
}

.unit-ancient-poster span{
    text-align: center;
    color: red;
    font-weight: bold;
}

.unit-new-poster span{
    text-align: right;
    color:  green;
    font-style: italic;
}


.box-suggestion-input-pair{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.btn-input-pair{
    display: flex;
    flex-direction: row;
}

.btn-input-pair button{
    display: block;
}

.box-country-city{
    display: flex;
    flex-direction: column;
    padding: 8px;
}
.box-suggestion-input-pair .box-suggestion{
    display: none; /*flex*/
    flex-direction: column;
    padding: 8px;
    border: 2px solid #dfdfdf ;
}

.section-choose-categ{
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.drop-down-categ{
    padding: 8px;
    border: 10px;
    border: none;
}

.event-categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #9d9de9;
    height: auto;
    padding: 8px;
    border-radius: 5px;
}

.categ-unit{
    border: 1px solid burlywood;
    padding: 4px;
    margin: 4px;
    border-radius: 5px;
}

.x-delete{
    font-size: 11px;
    padding-left: 8px;
}

.simple-input-unit-price{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.simple-input-unit-price .pair-price-currency{
    display: flex;
    flex-direction: row;
    width: 80%;
}

.pair-price-currency input{
    padding: 8px;
    width: 80%;
    border-radius: 10px 0px 0px 10px;
    border: none;
}

.pair-price-currency button{
    padding: 8px;
    width: 20%;
    border-radius:0px 10px 10px 0px ;
    border: none;
    background-color: #626262;
    color: white;
}



/*CSS Bottom navigation*/
.app-navigation-container {
    background-color: white;
    position: fixed;
    bottom: 60px;
    left: 10%;
    width: 80%;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    height: 0;
}

.app-navigation-container.open {
    height: auto;
}

.app-navigation-container-header {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(245, 245, 245);
    padding: 5px 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.app-navigation-container-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.app-navigation-container-icon {
    width: 20%;
    text-align: center;
    font-size: 50px;
    padding: 25px 0;
}

.app-navigation-container-icon a {
    color: rgb(60, 60, 60);
}

.app-navigation-toggle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    line-height: 40px;
    color: rgb(230, 230, 230);
    position: fixed;
    top: calc(100% - 50px);
    left: calc(50% - 20px);
    cursor: pointer;
    transition: all 200ms;
}

.app-navigation-toggle:hover {
    background-color: rgb(200, 200, 200);
}

.app-navigation-toggle.active {
    background-color: rgb(200, 200, 200);
}

@media screen and (max-width:992px) {
    .app-navigation-container-icon {
        width: 25%;
    }
}

@media screen and (max-width:768px) {
    .app-navigation-container-icon {
        width: 50%;
    }
}
/*END Bottom navigation*/