body{
    margin: 0;
    padding: 0;
}

.header-confirmation{
    padding: 8px;
}

.graphic-verification{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin-top: 50px;
}

.message-verification{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-verification-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}
